<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calc Board</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>

<nav>
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <ul id="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/avmaps">Maps</a></li>
        <li id="userMapsLink" style="display: none;">
            <a href="#" onclick="navigateToMaps()">Your Maps</a>
        </li>
        <li><a href="#" id="loginLogoutButton" onclick="openLoginPopup()">Login</a></li>
    </ul>
</nav>

<!-- Login Popup (Initially Hidden) -->
<div id="loginPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closeLoginPopup()">&times;</span>
        <h2>Login</h2>
        <form id="loginForm">
            <input type="text" id="username" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p id="message"></p>
    </div>
</div>

<div class="maps-container">
    <ul>
        <!-- Thymeleaf loop to render maps -->
        <h1>Available Maps</h1>

        <li th:each="map : ${maps}">
            <div class="map-details">
                <h3 th:text="${map.mapName}"></h3>
                <p th:text="'Game: ' + ${map.game}"></p>
                <span class="description" th:text="${map.description}"></span>
                <span th:class="${map.freeOrNot ? 'public-badge public' : 'public-badge private'}"
                      th:text="${map.freeOrNot ? 'Public' : 'Private'}">
                </span>
            </div>
        </li>
    </ul>
</div>



</body>
</html>