<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Maps</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style-maps.css">
    <script src="/script.js"></script>
</head>
<body>

<nav>
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <ul id="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/avmaps">Maps</a></li>
        <li id="userMapsLink" style="display: none;">
            <a href="#" onclick="navigateToMaps()">Your Maps</a>
        </li>
        <li><a href="#" id="loginLogoutButton" onclick="openLoginPopup()">Logout</a></li>
    </ul>
</nav>

<main class="user-maps-container">
    <h1>Your Maps</h1>
    <section>
        <ul class="maps-list">
            <th:block th:each="map : ${maps}">
                <li class="map-item">

                    <div class="map-container" th:data-map-id="${map.id}">
                     <article class="map-details">
                        <span class="map-game" th:text="${map.game}"></span> -
                        <span th:text="${map.mapName}"></span> -
                        <span class="description-text" th:text="${map.description}"></span>
                        <span class="privacy-badge"
                              th:classappend="${map.getFreeOrNot() ? 'private' : 'public'}"
                              th:text="${map.getFreeOrNot() ? 'Public' : 'Private'}">
                        </span>

                         <textarea class="description-textarea" th:text="${map.description}" style="display: none;"></textarea>

                         <button class="toggle-privacy-btn" th:onclick="'togglePrivacy(' + ${map.id} + ')'" aria-label="Toggle Privacy">
                             Make <span th:text="${map.getFreeOrNot() ? 'Private' : 'Public'}"></span>
                         </button>
                         <button class="toggle-description-btn" onclick="toggleDescription(this)" aria-label="Edit Description">
                             Edit Description
                         </button>
                         <button class="save-description-btn" style="display: none;" onclick="saveDescription(this)" aria-label="Save Description">
                             Save
                         </button>
                     </article>


                    </div>
                </li>
            </th:block>
        </ul>
    </section>
</main>

</body>
</html>
